@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: #ffffff
}
ul{
    list-style:none;
}

.borderrr {
    margin-top: -3.8%;
    padding: 4.7% 50%;
    background-color: #ffffff;
    border: 2 #000000;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #b9b9b9;
    position: fixed;
    z-index: 98;
}

.menu {
    margin-top: -1.4%;
    position: fixed;
    z-index: 99;
}

.menu ul {
    display: inline-flex;
    margin: 50px;
}

.menu ul li {
    list-style: none;
    font-size: 20px;
    margin: 0 50px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
}

.logo img {
    width: 120px;
    margin-top: -17px;
    margin-left: 20px;
}

.active {
    color: #000000;
    text-decoration: none;
}

.tentang {
    color: #000000;
    text-decoration: none;
}

.tentang:hover {
    color: #2EC67A;
    transition: color .6s;
}

.jualbeli {
    color: #2EC67A;
    text-decoration: none;
}

.active:hover {
    color: #2EC67A;
    transition: color .6s;
}

.gambarnor img {
    width: 5%;
    top: 30px;
    right: -200px;
    position: absolute;
}

.masuk {
    z-index: 999999;
    top: 50px;
    right: -115px;
    position: absolute;
    text-decoration: none;
    color: #000000;
}

.masuk:hover {
    color: #2EC67A;
    transition: color .6s;
}

.masuk img {
    width: 30px;
    margin: -4px 50px;
}

.border {
    width: 5%;
    margin-top: -2.8%;
    margin-left: 8%;
    padding-top: 3%;
    padding-left: 10%;
    background-color: #E88E08;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #d4d4d4;
}

.komoditi {
    padding-top: 10%;
    padding-left: 12%;
    display: flex;
}

.komoditi img {
    width: 3%;
    margin-top: -0.7%;
    margin-left: 9%;
    cursor: pointer;
}

.gambar1 {
    width: 1.2%;
    margin-top: -2%;
    margin-left: 9.5%;
    background-color: #E88E08;
}

.registration {
    width: 52%;
    height: 90%;
    color: #000000;
    margin-top: -3.2%;
    margin-left: 31%;
}

.registration input {
    cursor: pointer;
    font-size: 16px;
    padding: 7px 10px;
    width: 100%;
    border: 0 #64CF99;
    border-radius: 5px;
    outline-color: #56C28C;
}

.border1 {
    width: 5%;
    margin-top: -3.5%;
    margin-left: 30%;
    padding-top: 4%;
    padding-left: 53%;
    background-color: #64CF99;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #d4d4d4;
}

.gambar3 {
    margin-top: -5%;
    margin-left: 102%;
    width: 5%;
}
.komoditi h1{
    padding-top: 20%;
}
.kolom1 {
    margin-top: -30%;
    margin-right: 5.5%;
    padding-left: 7%;
    display:flex;
	justify-content: center;
	align-items: center;
}

.flex{
    display: flex;
    margin-left: -2%;
    position: absolute
}

.kol1,
.kol2,
.kol3,
.kol4 {
    width:310px;
	height:380px;
    margin-top: 6%;
    padding-top: 15%;
    padding-left: 4%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 5%;
    box-shadow: 0px 10px 15px #d4d4d4;
    cursor: pointer;
    justify-content: space-between;
	flex-direction: column;
	box-sizing: border-box;
	margin: 20px 7px;
}

.kol1:hover {
    margin-top: 2.5%;
    background-color: #FFFAEF;
    transform-style: preserve-3d;
    transition: .6s;
}

.kol2:hover {
    margin-top: 2.5%;
    background-color: #FFFAEF;
    transform-style: preserve-3d;
    transition: .6s;
}

.kol3:hover {
    margin-top: 2.5%;
    background-color: #FFFAEF;
    transform-style: preserve-3d;
    transition: .6s;
}

.kol4:hover {
    margin-top: 2.5%;
    background-color: #FFFAEF;
    transform-style: preserve-3d;
    transition: .6s;
}

.gambar11,
.gambar12,
.gambar13,
.gambar14 {
    width: 96%;
    margin-top: -22%;
    padding-bottom: 5%;
}

.judul {
    font-size: 20px;
    font-weight: bold;
}

.kol1 p,
.kol2 p,
.kol3 p,
.kol4 p {
    font-size: 18px;
    margin-left: 2%;
    line-height: 40px;
}

.alamat {
    padding-left: 8%;
}

.kuning {
    color: #E88E08;
}

.maps {
    margin-top: -10.5%;
    margin-left: 2%;
    padding-bottom: 8%;
}

/*KOLOM 2 BOS*/
.kolom2 {
    margin-top: -39%;
    padding-left: 8%;
}
.kolom2 h1 {
    line-height: 500%;
    font-size: 30px;
    font-weight: bold;
}

.flex {
    display: flex;
    margin-left: -2%;
    position: absolute
}

.kol5,
.kol6,
.kol7,
.kol8 {
    margin-top: -10%;
    padding-top: 6%;
    padding-left: 1%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 1.5%;
    box-shadow: 0px 10px 25px #d4d4d4;
    cursor: pointer;
}

.kol5:hover {
    margin-top: -10.8%;
    background-color: #FFFAEF;
    transform-style: preserve-3d;
    transition: .6s;
}

.kol6:hover {
    margin-top: -10.8%;
    background-color: #FFFAEF;
    transform-style: preserve-3d;
    transition: .6s;
}

.kol7:hover {
    margin-top: -10.8%;
    background-color: #FFFAEF;
    transform-style: preserve-3d;
    transition: .6s;
}

.kol8:hover {
    margin-top: -10.8%;
    background-color: #FFFAEF;
    transform-style: preserve-3d;
    transition: .6s;
}

.gambar11,
.gambar12,
.gambar13,
.gambar14 {
    width: 96%;
    margin-top: -22%;
    padding-bottom: 5%;
}

.judul {
    font-size: 20px;
    font-weight: bold;
}

.kol5 p,
.kol6 p,
.kol7 p,
.kol8 p {
    font-size: 18px;
    margin-left: 2%;
    line-height: 40px;
}

.alamat {
    padding-left: 8%;
}

.kuning {
    color: #E88E08;
}

.maps {
    margin-top: -10.5%;
    margin-left: 2%;
    padding-bottom: 8%;
}

.kol5 a {
    text-decoration: none;
    color: black;
}

/*KOLOM 3 BOS*/

.kolom3 {
    margin-top: 25%;
    padding-left: 8%;
}

.kolom3 h1 {
    font-size: 30px;
    font-weight: bold;
}

.flex {
    display: flex;
    margin-left: -2%;
    position: absolute
}

.kol9,
.kol10,
.kol11,
.kol12 {
    margin-top: -1%;
    padding-top: 6%;
    padding-left: 1%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 1.5%;
    box-shadow: 0px 10px 25px #d4d4d4;
    cursor: pointer;
}

.kol9:hover {
    margin-top: -1.8%;
    background-color: #FFFAEF;
    transform-style: preserve-3d;
    transition: .6s;
}

.kol10:hover {
    margin-top: -1.8%;
    background-color: #FFFAEF;
    transform-style: preserve-3d;
    transition: .6s;
}

.kol11:hover {
    margin-top: -1.8%;
    background-color: #FFFAEF;
    transform-style: preserve-3d;
    transition: .6s;
}

.kol12:hover {
    margin-top: -1.8%;
    background-color: #FFFAEF;
    transform-style: preserve-3d;
    transition: .6s;
}

.gambar11,
.gambar12,
.gambar13,
.gambar14 {
    width: 96%;
    margin-top: -22%;
    padding-bottom: 5%;
}

.judul {
    font-size: 20px;
    font-weight: bold;
}

.kol9 p,
.kol10 p,
.kol11 p,
.kol12 p {
    font-size: 18px;
    margin-left: 2%;
    line-height: 40px;
}

.alamat {
    padding-left: 8%;
}

.kuning {
    color: #E88E08;
}

.maps {
    margin-top: -10.5%;
    margin-left: 2%;
    padding-bottom: 8%;
}

.image99 {
    margin-top: -102%;
    margin-left: 89%;
    z-index: 70;
    position: absolute;
    cursor: pointer;
}

.image99 li {
    margin-top: 400%;
    list-style: none;
}

.nomor {
    margin-top: 32%;
    margin-left: 37.5%;
    display: flex;
    cursor: pointer;
}

.nomor p {
    font-size: 25px;
    margin-left: 8.8%;
    font-weight: bold;
}

.borr {
    margin-top: -3%;
    margin-left: 41%;
    display: flex;
    z-index: -10;
    position: relative;
    padding-bottom: 8%;
}

.borr p {
    margin-right: 3%;
    padding-top: 6%;
    padding-left: 8%;
    box-shadow: 0px 10px 25px #d4d4d4;
    border-radius: 10px;
}

.bor1 {
    background-color: #64CF99;
}

.bor2 {
    background-color: #ffffff;
}

.bor2:hover {
    background-color: #2EC67A;
    transform-style: preserve-3d;
    transition: .6s;
}

.bor3 {
    background-color: #ffffff;
}

.bor3:hover {
    background-color: #2EC67A;
    transform-style: preserve-3d;
    transition: .6s;
}

.dropdown .dropbtn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    background-color: inherit;
    margin-left: -150%;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 120px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 20px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-left: -164%;
    background-color: E88E08;
    width: 181px;
    color: black;
}

.dropdown-content a:hover {
    color: black;
    background-color: #ffffff;
    transform-style: preserve-3d;
}

.dropdown:hover .dropdown-content {
    display: block;
    transform-style: preserve-3d;
}