* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #b9b9b9;
    justify-content: space-around;
    height: 90px;
    align-items: center;
    color: black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 70%;
    justify-content: space-between;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 50px;
}

nav ul li a:hover {
    color: #2EC67A;
    transition: color .6s;
}

.daftar {
    background-color: #2EC67A;
    border-radius: 30px;
    z-index: 2;
    border: 2px solid transparent;
    padding: 10px 15px;
}

.active {
    color: #2EC67A;
}

.active:hover {
    color: #000000;
    transition: color.6s;
}

.daftar:hover {
    color: white;
    transition: color.6s;
}

.logo img {
    width: 55%;
    margin-left: 25px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 30px;
    left: 81.2%;
    top: 24.8px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0)
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.berita1 {
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 90px;
    right: -350px;
    padding-top: 20px;
    padding-left: 5px;
    height: 150px;
    text-decoration: none;
    color: #000000;
    border: 3px solid transparent;
    border-color: #b9b9b9;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #c5c5c5
}

.berita1:hover {
    border-color: #2EC67A;
    transition: border-color .6s;
}

.berita1 img {
    height: 120px;
    width: 130px;
    margin-left: 15px;
}

.tulisan {
    width: 700px;
    height: 150px;
    display: flex;
    margin-left: 180px;
    margin-top: -10%;
    font-size: 17px;
    font-family: sans-serif;
}

.keterangan {
    display: flex;
    width: 1000px;
    height: 150px;
    margin-top: -100px;
    margin-left: 180px;
    color: #c4c4c4;
}

.sel {
    display: flex;
    width: 900px;
    height: 150px;
    margin-top: -90px;
    margin-left: 180px;
    color: #4DCDE9;
    text-decoration: underline;
    cursor: pointer;
}

.berita2 {
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 80px;
    right: -350px;
    padding-top: 20px;
    padding-left: 10px;
    height: 150px;
    text-decoration: none;
    color: #000000;
    border: 3px solid transparent;
    border-color: #b9b9b9;
    border-radius: 30px;
    box-shadow: 0px 0px 15px#c5c5c5
}

.berita2:hover {
    border-color: #2EC67A;
    transition: border-color .6s;
}

.berita2 img {
    height: 120px;
    width: 130px;
    margin-left: 15px;
}

.keterangan2 {
    display: flex;
    width: 1000px;
    height: 150px;
    margin-top: -110px;
    margin-left: 180px;
    color: #c4c4c4;
}

.sel2 {
    display: flex;
    width: 900px;
    height: 150px;
    margin-top: -80px;
    margin-left: 180px;
    color: #4DCDE9;
    text-decoration: underline;
    cursor: pointer;
}

.berita3 {
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 80px;
    right: -350px;
    padding-top: 20px;
    padding-left: 10px;
    height: 150px;
    text-decoration: none;
    color: #000000;
    border: 3px solid transparent;
    border-color: #b9b9b9;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #c5c5c5
}

.berita3:hover {
    border-color: #2EC67A;
    transition: border-color .6s;
}

.berita3 img {
    height: 120px;
    width: 130px;
    margin-left: 15px;
}

.keterangan3 {
    display: flex;
    width: 1000px;
    height: 150px;
    margin-top: -110px;
    margin-left: 180px;
    color: #c4c4c4;
}

.sel3 {
    display: flex;
    width: 900px;
    height: 150px;
    margin-top: -80px;
    margin-left: 180px;
    color: #4DCDE9;
    text-decoration: underline;
    cursor: pointer;
}

.padi {
    position: relative;
    float: right;
    width: 200px;
    height: 200px;
    margin-top: -10px;
}

@media screen and (max-width: 768px) {
    nav {
        background-color: #47fca1;
        border-radius: 0px;
        z-index: 999;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #47fca1;
        transform: translateX(100%);
        transition: all 1s;
        z-index: -0.5;
    }
    nav ul li a {
        font-size: 18px;
    }
    nav ul li a:hover {
        color: white;
    }
    .logo img {
        padding: 0px 40%;
        z-index: 999;
    }
    nav ul.slide {
        transform: translateX(0);
    }
    .daftar {
        background-color: #47fca1;
    }
    .active {
        color: #000000;
    }
    .active:hover {
        color: #ffffff;
        transition: color.6s;
    }
    .berita1 {
        margin: 35px 25px;
        width: 90%;
        z-index: -9999;
    }
    .tulisan {
        margin: -120px 160px;
        font-size: 14px;
        width: 250px;
        z-index: -9999;
    }
    .keterangan {
        margin: 10px 160px;
        font-size: 12px;
        width: 260px;
        z-index: -9999;
    }
    .sel {
        margin: -80px 160px;
        font-size: 12px;
        z-index: -9999;
    }
    .berita2 {
        margin: 35px 25px;
        width: 89%;
        z-index: -9999;
    }
    .keterangan2 {
        margin: 10px 160px;
        font-size: 12px;
        width: 260px;
        z-index: -9999;
    }
    .sel2 {
        margin: -80px 160px;
        font-size: 12px;
        z-index: -9999;
    }
    .berita3 {
        margin: 35px 25px;
        width: 89%;
        z-index: -9999;
    }
    .keterangan3 {
        margin: 10px 160px;
        font-size: 12px;
        width: 260px;
        z-index: -9999;
    }
    .sel3 {
        margin: -70px 160px;
        font-size: 12px;
        z-index: -9999;
    }
    .padi {
        display: none;
    }
}