* {
    margin: 5px 0px;
    padding: 0px;
    background-color: #FFFAEF;
    font-family: sans-serif;
}

.list img {
    border-radius: 10px;
    width: 250px;
    height: 175px;
    box-shadow: 0px 0px 20px #b9b9b9
}

.list {
    margin-top: 70px;
    margin-left: 50px;
}

.ket {
    margin-left: 275px;
    margin-top: -180px;
    display: flex;
    text-decoration: solid;
}

.harga {
    margin-left: 275px;
    margin-top: -10px;
    color: #E88E08;
}

.tgl {
    margin-left: 275px;
    margin-top: -15px;
}

.data {
    margin-left: 275px;
    margin-top: -10px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.data:hover {
    color: #12CDE7;
    transition: color .6s;
}

.samping img {
    margin-top: -50%;
    padding: 0px;
    margin-left: 850px;
    width: 499px;
    height: 790px;
    display: flex;
}

.samping button {
    margin-left: 76%;
    margin-top: -52%;
    display: flex;
    font-size: 24px;
    cursor: pointer;
}

.samping button:hover {
    color: #00BA5D;
    transition: color.6s;
}

.pil p a {
    text-decoration: none;
    margin-left: 67%;
    margin-top: 17%;
    font-size: 20px;
    color: black;
    background: none;
}

.produk p a {
    text-decoration: none;
    margin-top: 25px;
    margin-left: 67%;
    color: #00BA5D;
    font-size: 20px;
    cursor: pointer;
    background: none;
}

.foto img {
    margin: -23.8% 90%;
    width: 3.5%;
    height: 3.5%;
}

.pil p a:hover {
    color: #2EC67A;
    transition: color .6s;
    cursor: pointer;
}

.produk p a:hover {
    color: #2EC67A;
    transition: color .6s;
    cursor: pointer;
}