* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: #FFFAEF;
}

.atas {
    width: 100%;
    height: 290px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 20px #b9b9b9;
}

.pensil {
    margin-top: 35px;
    margin-left: 95%;
    width: 25px;
}

.foto {
    width: 75px;
    margin-top: 2%;
    margin-left: 50%;
}

.tul {
    margin-left: 47%;
    margin-top: 2%;
}

.ikon {
    width: 20px;
    margin-left: 100px;
}

.maps {
    width: 15px;
    margin-left: 100px;
    margin-top: 50px;
}

.ketjal {
    display: inline;
    margin-left: 35px;
}

.ket {
    display: inline;
    margin-left: 30px;
}

.ketbni {
    display: inline;
    margin-left: 27px;
}

.ikon2 {
    width: 25px;
    margin-left: 100px;
}

.bni {
    width: 50px;
    margin-left: 80px;
}