*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    width: 100%;
    height: 100%;
    background: #DBF0E5;
}
.background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    z-index: -1;
}

.text{
    text-align: center;
    margin: auto;
    width: 50%;
    color: #ffffff;
}
.text p{
    padding-top: 11%;
    font-size: 20px;
    position: relative;
}
.text h1{
    font-size: 30px;
    margin: 30px 0px 0px 0;
    line-height: 40px;
    letter-spacing: 1px;
    position: relative;
}
.registration{
    width: 34%;
    height: 90%;
    color: #000000;
    margin: 10% auto;
}
.registration p{
     font-size: 20px;
     margin: 30px 0;
     text-shadow: 0px 0px 20px #a8a8a8;;
}
.registration input{
    cursor: pointer;
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline-color: #56C28C;
    box-shadow: 0px 0px 15px #d4d4d4;
}
.pisah{
    display: flex;
    width: 100%;
}
.nama{
    width: 45%;
}
.jenis{
    width: 45%;
    margin-left: 10%;   
}
.daerah{
    width: 45%;
}
.provinsi{
    width: 45%;
    margin-left: 10%;   
}
.ktp{
    height: 400px;
}
#foto{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 120px 160px;
    outline: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.registration button{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 30%;
    padding: 20px 25px;
    width: 40%;
    border: 0;
    border-radius: 15px;
    background-color: #33d684;
    box-shadow: 0px 0px 20px #b9b9b9   
}
.registration:hover button{
    margin: -10px 30%;
    transition: margin .6s;
}
.acc img {
    margin-left: -3%;
    margin-bottom: 20px;
    transform: rotate(12deg);
    animation: img 1s ease-in-out infinite;
    animation-duration: 4s;
}