*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.borderrr{
    margin-top: -3.8%;
    padding: 4.7% 50%;
    background-color: #ffffff;
    border: 2 #000000;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #b9b9b9;
    position: fixed;
    z-index: 98;
    animation-delay: 2s;
}

.menu{
    margin-top: -1.4%;
    position: fixed;
    z-index: 99;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none ;
    font-size: 20px;
    margin: 0 50px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
}
.logo img{
    width: 120px;
    margin-top: -17px ;
    margin-left: 20px;
}
.active{
    color: #000000;
    text-decoration: none;
}
.tentang{
    color: #000000;
    text-decoration: none;
}
.tentang:hover{
    color: #2EC67A;
    transition: color .6s;
}
.jualbeli{
    color: #2EC67A;
    text-decoration: none;
}
.active:hover{
    color: #2EC67A;
    transition: color .6s;

}
.gambarnor img{
    width: 6% ;
    top: 30px;
    right: -250px;
    position: absolute;
}
.masuk{
    z-index: 999999;
    top: 50px;
    right: -165px;
    position: absolute;
    text-decoration: none;
    color: #000000;
}
.masuk:hover a{
    color: #2EC67A;
    transition: color .6s;
}
.masuk img{
    width: 30px;
    margin: -5px 50px;
}

.border{
    width: 5%;
    margin-top: -2.8%;
    margin-left: 8%;
    padding-top: 3%;
    padding-left: 10% ;
    background-color: #E88E08;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #d4d4d4;
}
.komoditi{
    padding-top: 10%;
    padding-left: 12%;
    display: flex;
}
.komoditi p{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.komoditi img{
    width: 3%;
    margin-top: -0.7%;
    margin-left: 1%;
    cursor: pointer;
}
.gambar1{
    width: 1.2%;
    margin-top: -2%;
    margin-left: 9.5%;
    background-color: #E88E08;
}


.registration{
    width: 52%;
    height: 90%;
    color: #000000;
    margin-top: -3.2%;
    margin-left: 31%;
}
.registration input{
    cursor: pointer;
    font-size: 16px;
    padding: 10px 10px;
    width: 100%;
    border: 0 #64CF99;
    border-radius: 5px;
    outline-color: #56C28C;
}
.border1{
    width: 5%;
    margin-top: -3.5%;
    margin-left: 30%;
    padding-top: 4%;
    padding-left: 53%;
    background-color: #64CF99;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #d4d4d4;
}
.gambar3{
    margin-top:-5%;
    margin-left: 102%;
    width: 5%;
}