* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.borderrr {
    margin-top: -3.8%;
    padding: 4.7% 50%;
    background-color: #ffffff;
    border: 2 #000000;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #b9b9b9;
    position: fixed;
    z-index: 98;
    animation-delay: 2s;
}

.menu {
    width: auto;
    position: fixed;
    z-index: 99;
    margin-top: -1.4%;
}

.menu ul {
    display: inline-flex;
    margin: 50px;
}

.menu ul li {
    list-style: none;
    font-size: 20px;
    margin: 0 50px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
}

.logo img {
    width: 120px;
    margin-top: -17px;
    margin-left: 20px;
}

.active {
    color: black;
    text-decoration: none;
}

.tentang {
    color: #2EC67A;
    text-decoration: none;
}

.active:hover {
    color: #2EC67A;
    transition: color .6s;
}

.jualbeli {
    color: black;
    text-decoration: none;
}

.jualbeli:hover {
    color: #2EC67A;
    transition: color .6s;
}

.daftar {
    top: 38px;
    right: -200px;
    position: absolute;
    text-decoration: none;
    color: #000000;
    border: 2px solid transparent;
    padding: 10px 15px;
    border-color: #2EC67A;
    border-radius: 30px;
    background-image: linear-gradient(#2EC67A, #2EC67A);
    box-shadow: 0px 0px 20px #b9b9b9
}

.daftar:hover {
    top: 34px;
    transition: top .7s;
}

.masuk {
    z-index: 999999;
    top: 50px;
    right: -75px;
    position: absolute;
    text-decoration: none;
    color: #000000;
}

.masuk:hover {
    color: #2EC67A;
    transition: color .6s;
}

.masuk img {
    width: 30px;
    margin: -4px 20px;
}

.deskripsi {
    width: 80%;
    height: 70%;
    top: 20%;
    left: 8%;
    position: absolute;
    color: #000000;
    animation-delay: 1s;
}

.deskripsi h1 {
    text-align: center;
    font-size: 40px;
    width: 100%;
    line-height: 60px;
    position: relative;
}

.gambar {
    left: 24%;
    top: 27%;
    width: 50%;
    position: relative;
    z-index: -1;
}

.deskripsi2 {
    margin-left: 7%;
    margin-top: 20%;
    animation-delay: 2.5s;
    animation-duration: 3s;
}

.deskripsi2 h1 {
    font-size: 40px;
    line-height: px;
}

.deskripsi2 p {
    font-size: 18px;
    line-height: 35px;
}

.border {
    padding-top: 35%;
    padding-right: 35%;
    background-color: #DBF0E5;
    z-index: -990;
    position: relative;
    margin-top: -27.5%;
}

.gambar1 {
    width: 10%;
    margin-left: 88%;
    margin-top: -20%;
    animation-duration: 4.5s;
}

.gambar2 {
    width: 50%;
    padding-left: 0;
    margin-top: -7.1%
}

.gambar3 {
    width: 50%;
    margin-top: -1.1%;
    padding-left: 0;
}

.gambar4 {
    width: 100%;
    position: relative;
    z-index: -99;
    margin-top: -65.27%;
}

.deskripsi3 {
    float: right;
    text-align: center;
    margin-right: 7%;
    margin-top: -27%;
}

.deskripsi3 h1 {
    font-size: 40px;
    line-height: 50px;
}

.deskripsi3 p {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.2px;
}

.deskripsi4 {
    float: left;
    position: relative;
    text-align: center;
    margin-left: 8%;
    margin-top: -40%;
    color: #DBF0E5;
}

.deskripsi4 p {
    font-size: 20px;
}

.deskripsi4 h1 {
    font-size: 32px;
    line-height: 45px;
}

.deskripsi4 button a {
    text-decoration: none;
    font-size: 20px;
    color: #8D7348;
    border-radius: 7px;
    background-color: #ffffff;
    padding: 10% 10%
}

.deskripsi4:hover button a {
    color: #2EC67A;
    transition: .6s;
}

.deskripsi5 {
    float: left;
    position: relative;
    text-align: center;
    margin-left: 5.8%;
    margin-top: -9%;
    color: #DBF0E5;
}

.deskripsi5 p {
    font-size: 20px;
}

.deskripsi5 h1 {
    font-size: 32px;
    line-height: 45px;
}

.deskripsi5 button a {
    text-decoration: none;
    font-size: 20px;
    color: #2EC67A;
    border: 0;
    border-radius: 7px;
    background-color: #ffffff;
    padding: 10% 10%
}

.deskripsi5:hover button a {
    color: #aa7a2d;
    transition: .6s;
}

.deskripsi6 {
    margin-top: 7%;
    margin-left: 7%;
}

.deskripsi6 h1 {
    font-size: 40px;
}

.deskripsi6 p {
    font-size: 20px;
    line-height: 40px;
}

.gambar5 {
    width: 45%;
    margin-top: -30%;
    margin-left: 50%;
}

.gambar7 {
    width: 20%;
    margin-top: -5%;
    margin-left: -125px;
}

.gambar8 {
    width: 20%;
    margin-top: -15%;
    margin-left: 42%;
}

.gambar9 {
    width: 20%;
    margin-top: -10%;
    margin-left: 20%;
}

.gambar10 {
    width: 20%;
    margin-top: -12%;
    margin-left: 65%;
}

.gambar11 {
    width: 10%;
    margin-left: 46.5%;
    margin-top: 0%;
}

.gambar6 {
    width: 100%;
    margin-top: -115%;
    position: relative;
    z-index: -99;
}

.flexx {
    display: flex;
    padding-left: 13%;
    padding-top: 12%;
    width: 75%;
}

.text6 h1,
.text7 h1,
.text8 h1 {
    line-height: 60px;
    font-size: 25px;
}

.text6 p a,
.text7 p a {
    font-size: 22px;
    color: #2EC67A;
    line-height: 60px;
    text-decoration: none;
    padding-bottom: 75%;
}

.text6:hover p a {
    color: #ffd000be;
    transition: .6s;
}

.text6:hover p a {
    color: #ffd000be;
    transition: .6s;
}

.text7:hover p a {
    color: #ffd000be;
    transition: .6s;
}

.text7:hover p a {
    color: #ffd000be;
    transition: .6s;
}

.text7 {
    margin-left: 18%;
}

.text8 {
    margin-left: 25%;
}

.flexxx {
    width: 20%;
    display: flex;
    padding-left: 62%;
}

.gambar19,
.gambar20,
.gambar21,
.gambar22 {
    margin-top: -30%;
    margin-left: 8%;
}

.gambar19:hover {
    margin-top: -31%;
    transition: .6s;
}

.gambar20:hover {
    margin-top: -31%;
    transition: .6s;
}

.gambar21:hover {
    margin-top: -31%;
    transition: .6s;
}

.gambar22:hover {
    margin-top: -31%;
    transition: .6s;
}